<!DOCTYPE html>
<html>
    <head>
        <title>pagina_principal</title>
        <link rel="stylesheet" href="styles.css">
        <script>
            function mostrarMensaje() {
                const parrafo = document.getElementById("respuesta");
                parrafo.textContent = "¡Acceso concedido! 🎉";
            }
            async function verUsuarios() {
                const respuesta = await fetch('/usuarios');
                const datos = await respuesta.json();

                const contenedor = document.getElementById("listaUsuarios");
                contenedor.innerHTML = "";

                datos.forEach(usuario => {
                    const item = document.createElement("li");
                    item.textContent = `👤 ${usuario.nombre} - ${usuario.edad} años`;
                    contenedor.appendChild(item);
                });
            }
        </script>
    </head>
    <body>
        <h1>Bienvenido a la página principal</h1>
        <p>Para acceder, pulsa el botón</p>

        <button onclick="mostrarMensaje()">Acceder</button>
        <p id="respuesta"></p>

        <button onclick="verUsuarios()">Ver usuarios</button>
        <ul id="listaUsuarios"></ul>
    </body>
</html>