body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
    color: white;
    text-align: left;
    font-family: Arial, sans-serif;
}

button {
    color: black;
    text-align: center;
}